option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "my_eb_site.settings"
    PYTHONPATH: "$PYTHONPATH"
    RDS_DB_NAME: "getriddb1"
    RDS_USERNAME: "shani"
    RDS_PASSWORD: "mydbpass5"
    RDS_HOSTNAME: "getriddb1.cola01pks64k.us-east-1.rds.amazonaws.com"
    RDS_PORT: "5432"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "my_eb_site/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []

container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"