

li a {
    color: brown;
}

body {
    padding-left: 15px;
    background: #FAF0EB  url("images/background.jpg") repeat-y right bottom;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
