

li a {
    color: brown;
}

body {
    padding-top: 230px;
    
    background: #FAF0EB  url("images/background.jpg") repeat-x top left;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

table {
    table-layout: fixed;
}
